html,
body {
  padding: 0;
  margin: 0;
  font-family: Menlo monospace -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 100;
  display: flex;
  flex: 0 0 60px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  background-color: #032a44;
}

header.header .logo{
  display: flex;
  align-items: center;
}
